<form method="POST" action="/auth/sign-up">
  <input type="text" id="username" name="username" />
  <label for="username">User Name</label>

  <input type="email" id="email" name="email" />
  <label for="userName">Email</label>

  <input type="password" id="password" name="password" />
  <label for="password">Password</label>

  <button type="submit">Submit</button>
</form>
