<div class="grid-container">
   <div class="header">
      <div class="headet-text"><p><%=pageHeader%></p></div>
      <div class="noti-icon right"><i class="fas fa-bell"></i></div>
   </div>
   <div class="nav">
      <div class=user>
         <img class="nav-user-img" src="https://w0.pngwave.com/png/639/452/computer-icons-avatar-user-profile-people-icon-png-clip-art.png" alt="User Image">
         <h4 class="nav-user-name">User Name</h4>
      </div>
      <div class="link-section">
         <a class="nav-link" href="/app/dashboard"><i class="fas fa-table nav-bar-icon"></i> Dashboard</a>
         <a class="nav-link" href="/app/accounts"><i class="fas fa-wallet nav-bar-icon"></i></i> Account Management</a>
         <a class="nav-link" href="/app/category"><i class="fas fa-server nav-bar-icon"></i> Category Management</a>
         <a class="nav-link" href="/app/budget"><i class="fas fa-exchange-alt nav-bar-icon"></i> Budget Management</a>
         <a class="nav-link" href="/app/settings"><i class="fas fa-user-cog nav-bar-icon"></i> Settings</a>
      </div>
      <div class="log-out">
         <a class="log-out-btn" href="/auth/log-out"><i class="fas fa-sign-out-alt  nav-bar-icon"></i> Logout</a>
      </div>
   </div>
   <div class="main">
