* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Comfortaa', cursive !important;
}

.form-header {
  padding: 20px 0;
}

/* Define grid template */
.grid-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-columns: 20vw 80vw;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #310e68;
  display: flex;
  justify-content: space-between;
  z-index: 8;
}

.nav {
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #310e68;
  display: flex;
  flex-direction: column;
  z-index: 8;
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 5;
  position: relative;
}

.footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #310e68;
}

/*Navgation related styles*/
.headet-text {
  margin: auto 0;
  padding: 0 20px;
}

.headet-text p {
  margin: 0;
  color: #fdfefe;
  font-size: 20px;
  font-weight: 500;
}

.noti-icon {
  margin: auto 50px;
  color: #fdfefe;
  font-size: 25px;
  font-weight: 500;
}

.user {
  margin: 50px auto;
}

.nav-user-img {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
}

.nav-user-name {
  padding: 15px;
  color: #fdfefe;
}

.nav-link {
  width: 100%;
  border-top: 0.5px solid #512da8;
}

.nav-link:last-child {
  border-bottom: 0.5px solid #512da8;
}

.nav-link {
  display: block;
  padding: 12px;
  color: #fdfefe;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:active {
  background-color: #512da8;
  transition: all 0.2s ease-in;
}

.nav-bar-icon {
  padding: 0 10px;
  font-size: 14px;
}

.log-out {
  margin: auto auto 20px auto;
  padding: 20px 0;
  align-self: flex-end;
}

.log-out-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fdfefe;
  background-color: #512da8;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
}

.log-out-btn:hover {
  font-size: 18px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px #512da8;
  transition: all 0.2s ease-out;
}

/*Empty message styles*/
.default-empty-container {
  position: absolute;
  width: 50vw;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px #512da8;
}

.default-empty-text {
  font-size: 30px;
  padding: 10px;
  color: #310e68;
  font-weight: 500;
}

/*Floating action button*/
.action-btn-container {
  position: absolute;
  top: 94%;
  left: 95%;
  z-index: 100;
}

.action-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #310e68;
}

.action-btn i {
  font-size: 30px;
  color: #fdfefe;
}

/* Modal window styles */
.modal-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.7);
  backface-visibility: hidden;
}

.show-backdrop {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-in;
}

.hide-backdrop {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-out;
}

.modal-container {
  padding: 20px 30px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 40vw;
  background-color: white;
  border-radius: 0 0 30px 30px;
  z-index: 7;
  box-shadow: 0px 0px 5px 1px #512da8;
}

.show-modal {
  transform: translate(-50%, 0%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-in;
}

.hide-modal {
  transform: translate(-50%, -100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-out;
}

.form-container {
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

.modal-header {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #310e68;
}

.form-btn-container {
  margin: 30px 0 20px 0;
}

.form-btn {
  margin: 0 20px 0 0;
  padding: 10px 10px;
  color: #fdfefe;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
}

.cancel {
  background-color: #d32f2f;
}

.ok {
  background-color: #310e68;
}

/* Table styles */
.table {
  z-index: 2;
  margin: 50px auto;
  width: 50vw;
}

.table-header-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 5px;
  background-color: #310e68;
}

.table-header {
  padding: 10px;
  color: #fdfefe;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.table-subheader {
  margin: 15px 0 8px 0;
  padding: 10px;
  background-color: #512da8;
  color: #fdfefe;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
}

.table-row {
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  color: #310e68;
  border-radius: 5px;
}

.table-data {
  font-size: 20px;
}

.stripe {
  background-color: #ede7f6;
}

.flex-1 {
  flex: 2 1 0;
}

.flex-2 {
  flex: 1 1 0;
}

.text-center {
  text-align: center;
}

.edit-account-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #310e68;
  font-size: 16px;
  font-weight: 500;
}

/* Login screen related styles */
.background {
  width: 100vw;
  height: 100vh;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  clip-path: polygon(0 85%, 100% 41%, 100% 100%, 0% 100%);
}

.auth-container {
  position: absolute;
  padding: 5px;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  border-radius: 20px;
  background-color: #fdfefe;
  box-shadow: -1px 3px 8px 1px rgba(49, 14, 104, 1);
}

.login-height {
  max-height: 600px;
  min-height: 600px;
  transition: max-height 0.5s min-height 0.5s;
  transition-timing-function: ease-in;
}

.register-height {
  max-height: 620px;
  min-height: 620px;
  transition: max-height 0.5s min-height 0.5s;
  transition-timing-function: ease-in;
}

.auth-header {
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  padding: 20px 0;
  width: 30vw;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-btn {
  width: 50%;
  text-align: center;
}

.header-btn:first-child {
  border-right: 3px solid #fdfefe;
}

.header-btn {
  text-transform: uppercase;
  letter-spacing: 1.5;
  cursor: pointer;
  font-size: 20px;
  color: #9fa8da;
  font-weight: 600;
}

.header-btn.active {
  font-size: 30px;
  color: #fdfefe;
  font-weight: 800;
}

.auth-content {
  position: relative;
  width: 100%;
}

.form-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 5px 0;
  margin-top: 10px;
}

.form-hide {
  visibility: hidden;
}

.input-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 5px;
  font-family: inherit;
  line-height: 1.5;
  font-size: 18px;
  color: #310e68;
  border: none;
  border-bottom: 1px solid #310e68;
}

.lable {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 18px;
  color: #310e68;
}

.btn-container {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-submit {
  margin: auto;
  padding: 15px 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  color: #fdfefe;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.log-in {
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
}

.google {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
}

.facebook {
  background-image: linear-gradient(
    to right,
    #0575e6 0%,
    #021b79 51%,
    #0575e6 100%
  );
}
