* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Comfortaa', cursive !important;
}

.form-header {
  padding: 20px 0;
}

/* Define grid template */
.grid-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-columns: 20vw 80vw;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #1a237e;
  display: flex;
  justify-content: space-between;
  z-index: 8;
}

.nav {
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #1a237e;
  display: flex;
  flex-direction: column;
  z-index: 8;
}

.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 5;
  position: relative;
}

.footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #1a237e;
}

/*Navgation related styles*/
.headet-text {
  margin: auto 0;
  padding: 0 20px;
}

.headet-text p {
  margin: 0;
  color: #fdfefe;
  font-size: 20px;
  font-weight: 500;
}

.noti-icon {
  margin: auto 50px;
  color: #fdfefe;
  font-size: 25px;
  font-weight: 500;
}

.user {
  margin: 50px auto;
}

.nav-user-img {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
}

.nav-user-name {
  padding: 15px;
  color: #fdfefe;
}

.nav-link {
  width: 100%;
  border-top: 0.5px solid #3f51b5;
}

.nav-link:last-child {
  border-bottom: 0.5px solid #3f51b5;
}

.nav-link {
  display: block;
  padding: 12px;
  color: #fdfefe;
  font-size: 16px;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
  background-color: #303f9f;
}

.nav-bar-icon {
  padding: 0 10px;
  font-size: 14px;
}

.log-out {
  margin: auto auto 20px auto;
  padding: 20px 0;
  align-self: flex-end;
}

.log-out-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fdfefe;
  background-color: #3f51b5;
  border-radius: 5px;
}

/* Modal window styles */
/*This is element ot which modal will be attched*/
.modal-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.7);
  backface-visibility: hidden;
}

.show-backdrop {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-in;
}

.hide-backdrop {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-out;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 0;
  width: 40vw;
  background-color: white;
  border-radius: 0 0 10px 10px;
  z-index: 7;
}

.show-modal {
  transform: translate(-50%, 0%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-in;
}

.hide-modal {
  transform: translate(-50%, -100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-out;
}

.form-container {
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

.modal-header {
  display: block;
  text-align: center;
  padding: 20px auto;
}

/* Table styles */
.table {
  z-index: 2;
  margin: 50px;
}

.table-header {
  background-color: #1a237e;
  color: #fdfefe;
}
